<!DOCTYPE html>
<html>
<head>
  <title>Bandwag</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
  <div class="row header_master">
    <img src="/logo.png" id="pigeon"/>
    <h1>Homing Pigeon</h1>
    <h2>Reveal your favorite musicians on Twitter</h2>
  </div>
  <div class="row header_sections">
    <div id="header_facebook" class="col-md-4 header">
      <img src="/logo_fb.png" id="logo_fb" class="logo"/>
      <p><% if user_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path %>
        <% else %>
        <%= link_to "Plug in your Facebook likes", user_omniauth_authorize_path(:facebook) %>
        <% end %>
      </p>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>      
    </div>
    <div id="header_lastfm" class="col-md-4 header">  
      <img src="/logo_lastfm.png" id="logo_lastfm" class="logo"/>
      <form action="/users/last_fm" method="post">
        <input type="text" name="username" placeholder="Add your Last.fm username"/> 
        <input type="submit" name="button" value="wag">
      </form>
    </div>
    <div id="header_rdio" class="col-md-4 header">  
      <img src="/logo_rdio.jpg" id="logo_rdio" class="logo"/>
      <p><a href="https://www.rdio.com/account/signup/">Plug in your Rdio account</a></p>
    </div>
  </div>
  <div class="row main">
    <%= yield %>
  </div>
</body>
</html>
